.formulaire {
    margin-top: 15vh;
    padding: 10px;
    background-color: rgba(0,0,0, 0.8) ;
    color: white;
    border : 1px solid white;
    border-radius: 10px;
}

.btn {
    background-color:#24BEBE;
    color:white;
}

.btn:hover {
    background-color:#24bebe;
    color:yellow;
    border : 1px solid white;
}

.btn-form-1 {
    width: 200px;
}
