.formulaire {
    margin-top: 10vh;
    padding: 10px;
    background-color: rgba(0,0,0, 0.7) ;
    color: white;
    border : 1px solid white;
    border-radius: 10px;
}

.btn {
    background-color:#24BEBE;
    color:white;
}
